<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Constellation.Feature.ItemSorting" version="10.2.0.22163" targetFramework="net48" />
  <package id="Constellation.Feature.Navigation" version="10.2.1.22896" targetFramework="net48" />
  <package id="Constellation.Feature.PageTagging" version="10.2.0.26147" targetFramework="net48" />
  <package id="Constellation.Feature.Redirects" version="10.2.1.34314" targetFramework="net48" />
  <package id="Constellation.Feature.UrlFriendlyPageNames" version="10.1.0.19242" targetFramework="net48" />
  <package id="Constellation.Foundation.Contexts" version="10.2.0.28849" targetFramework="net48" />
  <package id="Constellation.Foundation.Data" version="10.2.0.28920" targetFramework="net48" />
  <package id="Constellation.Foundation.Datasources" version="10.2.0.29844" targetFramework="net48" />
  <package id="Constellation.Foundation.Labels" version="10.2.0.21918" targetFramework="net48" />
  <package id="Constellation.Foundation.Linking" version="10.2.0.30228" targetFramework="net48" />
  <package id="Constellation.Foundation.PackageVerification" version="10.2.0.29227" targetFramework="net48" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.4" targetFramework="net48" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="3.1.15" targetFramework="net48" />
  <package id="Sitecore.ExperienceEditor.Speak" version="10.2.0" targetFramework="net48" />
  <package id="Sitecore.JavaScriptServices.Media" version="19.0.0" targetFramework="net48" />
  <package id="Sitecore.Kernel" version="10.2.0" targetFramework="net48" />
  <package id="Sitecore.Logging" version="10.2.0" targetFramework="net48" />
  <package id="Sitecore.Logging.Client" version="10.2.0" targetFramework="net48" />
  <package id="Sitecore.Security.AntiCsrf" version="10.2.0" targetFramework="net48" />
  <package id="Sitecore.SessionProvider.Redis" version="10.2.0" targetFramework="net48" />
  <package id="Sitecore.SessionProvider.Sql" version="10.2.0" targetFramework="net48" />
  <package id="Sitecore.Speak.Client" version="10.2.0" targetFramework="net48" />
</packages>